In [1]:
import pandas as pd
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [2]:
print(test.shape)
print(test.head())
print(test.columns)

(418, 11)
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
print(train.shape)
print(train.head())
print(train.columns)

(891, 12)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Predicting survival by manual slicing

In [4]:
# Males who survived vs males who did not
print(train['Survived'][train['Sex'] == 'male'].value_counts())

# Females who survived vs females who did not
print(train['Survived'][train['Sex'] == 'female'].value_counts())

0    468
1    109
Name: Survived, dtype: int64
1    233
0     81
Name: Survived, dtype: int64

In [31]:
pd.options.mode.chained_assignment = None

# Engineer 'Child' feature in copy of training set
# train['Child'] = 0
train['Child'][train['Age'] < 18] = 1
train['Child'][train['Age'] >= 18] = 0

In [30]:
# Children who survived vs children who did not
print(train['Survived'][train['Child'] == 1].value_counts())

# Adults who survived vs adults who did not
print(train['Survived'][train['Child'] == 0].value_counts())

1    61
0    52
Name: Survived, dtype: int64
0    497
1    281
Name: Survived, dtype: int64

In [15]:
print(train.info())
print(train.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB
None
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 27.8+ KB
None

In [17]:
# 1st class who survived vs 1st class who did not
print(train['Survived'][train['Pclass'] == 1].value_counts())

# 2nd class who survived vs 2nd class who did not
print(train['Survived'][train['Pclass'] == 2].value_counts())

# 3rd class who survived vs 3rd class who did not
print(train['Survived'][train['Pclass'] == 3].value_counts())

1    136
0     80
Name: Survived, dtype: int64
0    97
1    87
Name: Survived, dtype: int64
0    372
1    119
Name: Survived, dtype: int64

In [18]:
train['Age'] = train['Age'].fillna(train['Age'].median())

print(train['Age'].median())

print(train.info())

28.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB
None

In [19]:
print(train['Survived'][train['Sex'] == 'female'][train['Pclass'] == 1][train['Age'] < 18].value_counts())

print(train['Survived'][train['Sex'] == 'male'][train['Pclass'] == 1][train['Age'] < 18].value_counts())

print(train['Survived'][train['Sex'] == 'female'][train['Pclass'] == 1][train['Age'] >= 18].value_counts())

print(train['Survived'][train['Sex'] == 'male'][train['Pclass'] == 1][train['Age'] >= 18].value_counts())

print(train['Survived'][train['Sex'] == 'female'][train['Pclass'] == 2][train['Age'] < 18].value_counts())

print(train['Survived'][train['Sex'] == 'male'][train['Pclass'] == 2][train['Age'] < 18].value_counts())

print(train['Survived'][train['Sex'] == 'female'][train['Pclass'] == 2][train['Age'] >= 18].value_counts())

print(train['Survived'][train['Sex'] == 'male'][train['Pclass'] == 2][train['Age'] >= 18].value_counts())

print(train['Survived'][train['Sex'] == 'female'][train['Pclass'] == 3][train['Age'] < 18].value_counts())

print(train['Survived'][train['Sex'] == 'male'][train['Pclass'] == 3][train['Age'] < 18].value_counts())

print(train['Survived'][train['Sex'] == 'female'][train['Pclass'] == 3][train['Age'] >= 18].value_counts())

print(train['Survived'][train['Sex'] == 'male'][train['Pclass'] == 3][train['Age'] >= 18].value_counts())

1    7
0    1
Name: Survived, dtype: int64
1    4
Name: Survived, dtype: int64
1    84
0     2
Name: Survived, dtype: int64
0    77
1    41
Name: Survived, dtype: int64
1    12
Name: Survived, dtype: int64
1    9
0    2
Name: Survived, dtype: int64
1    58
0     6
Name: Survived, dtype: int64
0    89
1     8
Name: Survived, dtype: int64
1    19
0    16
Name: Survived, dtype: int64
0    33
1    10
Name: Survived, dtype: int64
0    56
1    53
Name: Survived, dtype: int64
0    267
1     37
Name: Survived, dtype: int64

In [20]:
test['Age'] = test['Age'].fillna(test['Age'].median())

print(test['Age'].median())

print(test.info())

27.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 27.8+ KB
None

In [32]:
# test['Survived']  = 0

test['Survived'][(test['Sex'] == 'female') & (test['Pclass'] == 1) & (test['Age'] < 18)] = 1

test['Survived'][(test['Sex'] == 'male') & (test['Pclass'] == 1) & (test['Age'] < 18)] = 1

test['Survived'][(test['Sex'] == 'female') & (test['Pclass'] == 1) & (test['Age'] >= 18)] = 1

test['Survived'][(test['Sex'] == 'male') & (test['Pclass'] == 1) & (test['Age'] >= 18)] = 0

test['Survived'][(test['Sex'] == 'female') & (test['Pclass'] == 2) & (test['Age'] < 18)] = 1

test['Survived'][(test['Sex'] == 'male') & (test['Pclass'] == 2) & (test['Age'] < 18)] = 1

test['Survived'][(test['Sex'] == 'female') & (test['Pclass'] == 2) & (test['Age'] >= 18)] = 1

test['Survived'][(test['Sex'] == 'male') & (test['Pclass'] == 2) & (test['Age'] >= 18)] = 0

test['Survived'][(test['Sex'] == 'female') & (test['Pclass'] == 3) & (test['Age'] < 18)] = 1

test['Survived'][(test['Sex'] == 'male') & (test['Pclass'] == 3) & (test['Age'] < 18)] = 0

test['Survived'][(test['Sex'] == 'female') & (test['Pclass'] == 3) & (test['Age'] >= 18)] = 1

test['Survived'][(test['Sex'] == 'male') & (test['Pclass'] == 3) & (test['Age'] >= 18)] = 0

In [28]:
my_solution = test[['PassengerId','Survived']]

print(my_solution.head())
print(my_solution.tail())
print(my_solution.shape)
print(my_solution['Survived'].value_counts())

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0
(418, 2)
0    284
1    134
Name: Survived, dtype: int64

In [13]:
my_solution.to_csv('my_solution_manual.csv', index = False)